@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
* {
  margin: 0px;
  padding: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
}
i {
    font-style: italic;
    font-weight: inherit;
}
.header {
    height: 84px;
    background: #007765;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 250px;
    padding-right: 200px;
}
 
.header-logo {
}
.header-logo-img {
}
.header-links {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    line-height: 28px;
    cursor: pointer;
}
.header-links-link:hover {
    color: rgb(164, 187, 184);
   
}
.header-links-divider {
}
.jumbotron {
    height: 403px;
    background-image: url("../img/jumbotron.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jumbotron-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    color: #FFFFFF;
}
.problem {
    height: 719px;
    background: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.problem-title {
    margin-top: 48px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    color: #007765;
}
.problem-text-container {
    margin-top: 16px;
    width: 1110px;
}
.problem-text {
    margin-bottom: 48px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: #000000;
}
.hero {
    height: 483px;
    background-image: url(../img/hero.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-title {
    width: 893px;
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    color: #FFFFFF;
    text-align: center;
}
.ppc {
    height: 604px;background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;

}
.ppc-logo {
}
.ppc-logo-img {
}
.ppc-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ppc-content-title {
    margin-top: 48px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    color: #007765;
    text-shadow: 1px 0 1px #000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 1px #000;
}
.ppc-content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.ppc-text-logo{
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1110px;
}
.ppc-content-text-first {
    font-family: Roboto;
    font-weight: bold;
    font-size: 32px;
    width: 930px;
    margin-left: 48px;

}
.ppc-content-text-second {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #000000;
    line-height: 37px;
    width: 1110px;
    margin-bottom: 35px;
}
.team {
    height: 845px;
    background: #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.team-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    color: #007765;
   

}
.team-cards {
    max-width: 1110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 32px;
    flex-wrap: wrap;

}
.team-cards-card {
    width: 350px;
    height: 283px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.team-cards-card-images {
}
.team-cards-card-images-img {
}
.team-cards-card-text {
    margin-top: 12px;
    text-align: center;
    
}
.team-cards-card-text-title {
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
color: #007765;
}
.team-cards-card-text-subtitle {
    font-family: Roboto;
font-style: italic;
font-weight: normal;
font-size: 18px;
color: #000000;
}
.footer {
    height: 176px;
    background: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-text {
    width: 540px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    
}
@media screen and (max-width: 1300px) {
    .header {
        padding-right: 20px;
        padding-left: 20px;
    }
}
@media screen and (max-width: 1170px) {
    .header-links-link{
        font-size: 20px;
    }
    .jumbotron-title{
        font-size: 50px;
    }
    .problem-text-container {
        width: 800px;
    }
    .problem{
        height: 100%;
        
    }
    .problem-title{
        font-size: 40px;
    }
    .problem-text{
        font-size: 22px;
    }
    .hero-title{
        font-size: 30px;
        width: 600px;
    }
    .ppc{
        height: 100%;
        padding-bottom: 28px;
    }
    .ppc-text-logo{
        width: 800px;
        
    }
    .ppc-content-text-first{
        font-size: 22px;
    }
    .ppc-content-text{
        margin-top: 20px;
    }
    .ppc-content-text-second{
        width: 800px;
        font-size: 22px;
        margin-bottom: 20px;
        line-height: 25px;
        
    }
    .ppc-content-title{
        font-size: 40px;
    }
    .team{
        height: 100%;
        padding: 48px 0;
    }
    .team-title{
        font-size: 40px;
    }
    
}
@media screen and (max-width: 1050px) {
    .team-cards{
        justify-content: center;
    }
    
}
@media screen and (max-width: 860px) {
    .header-logo-img{
        width: 160px;

    }
    .header-links-link{
        font-size: 18px;
    }
    .jumbotron-title{
        font-size: 40px;
    }
    .problem-title{
        font-size: 35px;
    }
    .problem-text-container{
        width: 600px;
        padding-bottom: 24px;
        text-align: center;
    }
    .problem-text-container p{
        font-size: 18px;
        margin-bottom: 24px;
        
    }
    .ppc{
        height: 100%;
        
    }
    .ppc-content-title{
        font-size: 35px;
    }
    .ppc-text-logo{
        width: 600px;
        
    }
    .ppc-logo-img{
        width: 100px;
        height: 100px;
    }
    .ppc-content-text-first{
        line-height: 24px;
        font-weight: normal;
        font-size: 18px;
        text-align: justify;
    }
    .ppc-content-text{
        margin-top: 20px;
    }
    .ppc-content-text-second{
        width: 600px;
        font-weight: normal;
        font-size: 18px;
        text-align: justify;
    }
    
    .team-title{
            font-size: 35px;
    }
    .team-cards-card{
        width: 300px;
        height: 233px;
        margin: 20px;

    }
    .team-cards-card-images-img{
        width: 140px;
    }
    .team-cards-card-text-title{
        font-size: 18px;
    }
    .team-cards-card-text-subtitle{
        font-size: 14px;
    }
}
@media screen and (max-width: 630px) {
    .header-logo-img{
        width: 130px;

    }
    .header-links-link{
        font-size: 16px;
    }
    .jumbotron-title{
        font-size: 35px;
    }
    .problem-title{
        font-size: 30px;
    }
    .problem-text{
    
    }
    .problem-text-container{
        width: 400px;
    }
    .problem-text-container p{
        font-size: 16px;
        margin-bottom: 20px;
    }
    .hero-title{
        width: 400px;
        font-size: 28px;
    }
    .ppc-text-logo{
        width: 400px;
    }
    .ppc-logo-img{
        width: 90px;
        height: 90px;
    }
    .ppc-content-text-first{
        margin-left: 15px;
        font-size: 16px;
    }
    .ppc-content-text-second{
        width: 400px;
        font-size: 16px;
    }
    .team-cards{
        margin-top: 16px;
    }
    .footer-text{
        width: 400px;
        font-size: 16px;
        line-height: 22px;
    }
}
@media screen and (max-width: 463px) {
    .header{
        height: 124px;
    }
    .header-links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .header-links-divider{
        display: none;
    }
    .problem-text-container{
        width: 300px;
    }
    .hero-title{
        width: 300px;
        font-size: 24px;
    }
    .ppc-content-title{
        width: 300px;
        text-align: center;
    }
    .ppc-text-logo{
        width: 300px;
    }
    .ppc-content-text-second{
        width: 300px;
    }
    .team-cards-card{
        margin: 0px;
    }
    .footer-text{
        width: 300px;
    }
}
